#container{
	padding-top: 100px;
	padding-left:30%;
}

.form{
	width: 400px;
	font-size:18px;
}
.form input{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:18px;
}

button{
	font-size:18px;
	margin-top: 10px;
}

#table{
	width: 400px;
}